<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL_API" value="https://cai-api.azurewebsites.net/api/v1/"/>
		<add key ="Usuario" value="1020304050"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>